body {
background-color: beige
}

ul{font-family: 'Courier New', Courier, monospace
}

h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px
}

h2{background-color: aqua 
}

h2 {
  font-family: 'Courier New', Courier, monospace
}

.container {
  padding: 0 15px 0 15px;
  border: 1px solid black;
  margin-top: 80px;
}